jdbc.driverClass=oracle.jdbc.OracleDriver
jdbc.jdbcUrl=${reportUrl}
jdbc.user=${reportUser}
jdbc.password=${reportPassword}
jdbc.maxActive=15
jdbc.maxIdle=15

report.driverClassName=oracle.jdbc.OracleDriver
report.url=${reportUrl}
report.user=${reportUser}
report.password=${reportPassword}

memcached.client.compressEnable=true
memcached.client.compressThreshold=1024
memcached.socket.initConn=0
memcached.socket.minConn=1
memcached.socket.maxConn=200
memcached.socket.maxIdle=1800000
memcached.socket.maintSleep=60000
memcached.socket.nagle=false
memcached.socket.socketTO=30000
memcached.socket.socketConnectTO=5000
memcached.server.address.01=${memcachedServerAddress01}
memcached.server.weight.01=1
memcached.server.address.02=${memcachedServerAddress02}
memcached.server.weight.02=1
appcache=satellite_cache

system.cache.monitor=true

system.monitor=false
infoValve=20
warnValve=50
errorValve=100
fatalValve=500

style_version=${style_version}

registerCenterPort=${registerCenterPort}
registerCenterIps=${registerCenterIps}
mccVersion=${mccVersion}
