<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
  - @author ruigang
 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
     #if($productionModel == "dev")	  
        <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    	      <param name="Target" value="System.out" />
    	      <param name="Threshold" value="$loggingLevel" />
    	      <layout class="org.apache.log4j.PatternLayout">
    	         <param name="ConversionPattern" value="%d [%-5p](%C{2},%l) - %m%n" />
    	      </layout>
        </appender>
      #end
    <!-- ===================================================================== -->
    <appender name="PROJECT" class="com.esunny.platform.util.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/sys/framework.log"/>
        <param name="append" value="true" /> 
        <param name="encoding" value="UTF-8"/>
        <param name="threshold" value="$loggingLevel"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} %l - %m%n"/>
        </layout>
    </appender>   
	    
    <appender name="PERFORMANCE" class="com.esunny.platform.util.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/sys/performance.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
	    
    <appender name="INFOPLATFORM" class="com.esunny.platform.util.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/infoplatform.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
		<param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
	
	<appender name="kft" class="com.esunny.platform.util.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/kft.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
		<param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
	
	<appender name="balance" class="com.esunny.platform.util.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/balance.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
		<param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
	
    <appender name="REPORT_STORAGE" class="com.esunny.platform.util.logging.spi.log4j.DailyRollingFileAppender">
        <param name="file" value="${loggingRoot}/usr/report/report.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
		<param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
	
    <logger name="com.esunny.platform.util.interceptor.PerformanceInterceptor" additivity="false">
        <level value="$loggingLevel"/>
        <appender-ref ref="PERFORMANCE"/>
    </logger>    
	
	<logger name="com.ibatis" additivity="false">
        <level value="$loggingLevel"/>
        <appender-ref ref="PROJECT"/>
		#if($productionModel == "dev")    
           <appender-ref ref="CONSOLE" />
		#end
    </logger> 
	
	<logger name="org.apache" additivity="false">
        <level value="$loggingLevel"/>
        <appender-ref ref="PROJECT"/>
		#if($productionModel == "dev")    
           <appender-ref ref="CONSOLE" />
		#end
    </logger>
	
	<logger name="org.springframework" additivity="false">
        <level value="$loggingLevel"/>
        <appender-ref ref="PROJECT"/>
		#if($productionModel == "dev")    
           <appender-ref ref="CONSOLE" />
		#end
    </logger>
	
	<logger name="com.danga" additivity="false">
        <level value="$loggingLevel"/>
        <appender-ref ref="PROJECT"/>
		#if($productionModel == "dev")
           <appender-ref ref="CONSOLE" />
		#end
    </logger>
	
    <logger name="java.sql" additivity="false">
          <level value="$loggingLevel"  />
          <appender-ref ref="PROJECT"/>
		  #if($productionModel == "dev")    
          <appender-ref ref="CONSOLE" />
		  #end
    </logger> 
	
	<logger name="infoplatform" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="INFOPLATFORM"/>
    </logger> 
	
    <logger name="balance" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="balance"/>
    </logger> 

    <logger name="kft" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="kft"/>
    </logger> 
	
	<logger name="report_storage" additivity="false">
          <level value="$loggingLevel"  />
          <appender-ref ref="REPORT_STORAGE"/>
		  #if($productionModel == "dev")    
          <appender-ref ref="CONSOLE" />
		  #end
    </logger> 
	
    <root>
           <level value="$loggingLevel"/>
		   #if($productionModel == "dev")    
           <appender-ref ref="CONSOLE" />
		   #end
           <appender-ref ref="PROJECT" />      
    </root>
</log4j:configuration>
