<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">

	<import resource="classpath*:/applicationContext-platform-common-service.xml" />
	<import resource="classpath*:/applicationContext-platform-common-cache.xml" />
	<import resource="classpath*:/applicationContext-platform-common-datasource.xml" />
	<import resource="classpath*:/com/esunny/satellite/report/dao/applicationContext-report.xml" />
	<import resource="classpath*:/com/esunny/satellite/report/service/applicationContext-report-service.xml" />
	
	<import resource="classpath*:/applicationContext-satellite-remote-dao.xml" />
	<import resource="classpath*:/applicationContext-satellite-remote-cache.xml" />
	<import resource="classpath*:/applicationContext-satellite-remote-service.xml" />

</beans>
